@font-face {
    font-family: 'Antro Vectra';
    src: url('./Antro_Vectra.otf') format('opentype');
  }
  @font-face {
    font-family: 'Harenosora';
    src: url('./Harenosora.otf') format('opentype');
  }
